/* Shared Styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.btn:hover{
    background-color:#FCE765;
    border: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}
/* Navbar Section */
header{
    color: #FFFFFF;
}
nav{
    max-width: 1600px;
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    max-width: 140px;
}
nav .menu {
    max-width: 367px;
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;    
}
nav .menu a:hover{
    font-size: 50x;
    font-weight: 600;
    background-color: skyblue;
}
/* Banner Section */
#banner{
    margin: 0 auto;
    background: url(../assets/hero-bg.png),#001931;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#banner .banner-container{
    /* border:1px solid black ; */
    padding: 180px 130px 240px;
}
#banner .banner-container .btnA .dot{
    width: 16px;
    height: 16px;
    border: none;
    border-radius:100%;
    background: #5ba078;
    box-shadow: 0 0 0 4px #b0dbc2;
    margin-right: 6px;
}
#banner .banner-container .btnA {
    text-align: center;
    padding: 8px 25px 8px 34px;
    gap: 6px;
    justify-content: center;
    display: inline-flex;
    border-radius: 20px;
    color: #469165;
    cursor: pointer;

}
#banner .banner-container .btnA:hover {
    text-align: center;
    padding: 8px 20px 8px 34px;
    gap: 6px;
    justify-content: center;
    display: inline-flex;
    border-radius: 20px;
    background-color: skyblue;
    color: antiquewhite;
    cursor: pointer;

}
#banner .banner-container .btnA:hover .dot{
    padding-left: 2px;
}
#banner .banner-container .banner-info h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
#banner .banner-container .banner-info h1 .text-color{
    color: #30B868;
}
#banner .banner-container .banner-info .banner-info-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 0 32px;
    text-wrap: wrap;
}
#banner .banner-container .banner-button{
    display: inline-flex;
    gap: 16px;
}
#banner .banner-container .banner-button .btnB img{
    margin-right: 6px;
}
#banner .banner-container .banner-button .btnB{
    color: #FFFFFF;
    height: 35px;
    width: 198px;
    border: 1px solid #FFFFFF;
    text-align: center;
    justify-content:space-evenly;
    display: inline-flex;
    padding: 4px 0px ;
    border-radius: 4px;
    cursor: pointer;
}
#banner .banner-container .banner-button .btnB:hover {
    color: #090909;
    background-color:#FFFFFF ;
    height: 35px;
    width: 198px;
    border: 1px solid #FFFFFF;
    text-align: center;
    justify-content:space-evenly;
    display: inline-flex;
    padding: 4px 0px ;
    border-radius: 4px;
    cursor: pointer;
}
#banner .banner-container .banner-button .btnB:hover img{
    background-color: #000000;
}

/* Notes Section */

#notes .notes-container{
        margin: 100px auto 0;
        text-align: center;
        max-width: 1360px;
}
#notes .notes-container .section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#notes .notes-container .section-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}

#notes .notes-container .notes-info{
    display:flex;
    gap: 40px;
    justify-content: center;
}

#notes .notes-container .notes-info .notes-card{
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 8px 0 #0000004b;
}
#notes .notes-container .notes-info .notes-card img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    margin:70px 131px 16px;
}
#notes .notes-container .notes-info .notes-card .notes-header{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
#notes .notes-container .notes-info .notes-card .notes-description{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 24.5px;
}

/* second-brain Section */
#second-brain .second-brain-container {
    margin: 120px auto 0;
    text-align: center;
    max-width: 1360px;
}
#second-brain .second-brain-container .second-brain-content{
    display: flex;
    align-items: center;
    
}
.second-brain-info{
    text-align: left;
    padding-left: 60px;
}
.second-brain-info .coloured-paragraph{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
.second-brain-info h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.second-brain-info p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}
#second-brain .second-brain-container .second-brain-content .second-brain-list{
    list-style: none;
    justify-content: center;
}
#second-brain .second-brain-container .second-brain-content .second-brain-list li{
    margin-bottom: 16px;
}
/* Early Access Section */
#early-access{
    margin: 100px auto 0;
    text-align: center;
    max-width: 1360px;

    
}
.early-access-container{
    /* border: 1px solid black; */
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
    box-shadow: 0 4px 4px 0 #00000033;
}
.early-access-info h3{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.early-access-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.early-access-info .special-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

/* Footer Section */
footer{
    margin-top: 120px;

}
#footer-container{
    text-align: center;
    padding: 120px 120px 30px;
    background-color: #0c3242;

}
#footer-container .footer-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-right: 120px;    
}
#footer-container .footer-info .footer-social h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#footer-container .footer-info .footer-social ul{
    display: flex;
    justify-content: space-between;

}
#footer-container .footer-info .footer-social li{
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 4px;
}
#footer-container hr{
    color:#E5E7EB;
    opacity:30%;
    margin-bottom: 30px;
}
#footer-container p{
     font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
}
