/* Shared Styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}
.btn:hover{
    background-color:#FCE765;
    border: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}
/* Navbar Section */
header{
    color: #FFFFFF;
}
nav{
    width:65%;
    max-width: 1057px;
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    max-width: 140px;
}
nav .menu {
    max-width: 367px;
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;    
}
nav .menu a:hover{
    font-size: 50x;
    font-weight: 600;
    background-color: skyblue;


}