/* Shared Styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.btn:hover{
    background-color:#FCE765;
    border: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}
/* Navbar Section */
header{
    color: #FFFFFF;
}
nav{
    width:65%;
    max-width: 1057px;
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    max-width: 140px;
}
nav .menu {
    max-width: 367px;
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;    
}
nav .menu a:hover{
    font-size: 50x;
    font-weight: 600;
    background-color: skyblue;
}
/* Banner Section */
#banner{
    margin: 0 auto;
    background: url(../assets/hero-bg.png),#001931;
    text-align: center;
}
#banner .banner-container{
    /* border:1px solid black ; */
    padding: 180px 130px 240px;
}
#banner .banner-container .btnA .dot{
    width: 16px;
    height: 16px;
    border: none;
    border-radius:100%;
    background: #5ba078;
    box-shadow: 0 0 0 4px #b0dbc2;
    margin-right: 6px;
}
#banner .banner-container .btnA {
    text-align: center;
    padding: 8px 12px 8px 34px;
    gap: 6px;
    justify-content: center;
    display: inline-flex;
    border-radius: 20px;
    color: #469165;
    cursor: pointer;

}
#banner .banner-container .btnA:hover {
    text-align: center;
    padding: 8px 12px 8px 34px;
    gap: 6px;
    justify-content: center;
    display: inline-flex;
    border-radius: 20px;
    background-color: skyblue;
    color: antiquewhite;
    cursor: pointer;

}
#banner .banner-container .banner-info h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
#banner .banner-container .banner-info h1 .text-color{
    color: #30B868;
}
#banner .banner-container .banner-info .banner-info-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 0 32px;
    text-wrap: wrap;
}
#banner .banner-container .banner-button{
    display: inline-flex;
    gap: 16px;
}
#banner .banner-container .banner-button .btnB img{
    margin-right: 6px;
}
#banner .banner-container .banner-button .btnB{
    color: #FFFFFF;
    height: 35px;
    width: 198px;
    border: 1px solid #FFFFFF;
    text-align: center;
    justify-content:space-evenly;
    display: inline-flex;
    padding: 4px 0px ;
    border-radius: 4px;
    cursor: pointer;
}
#banner .banner-container .banner-button .btnB:hover {
    color: #090909;
    background-color:#FFFFFF ;
    height: 35px;
    width: 198px;
    border: 1px solid #FFFFFF;
    text-align: center;
    justify-content:space-evenly;
    display: inline-flex;
    padding: 4px 0px ;
    border-radius: 4px;
    cursor: pointer;
}
#banner .banner-container .banner-button .btnB:hover img{
    background-color: #000000;
}